#werty{
    font-weight: 400;
    color: white;   
}
#werty li:hover{
    color: orange;
}
#werty  {
   display: flex;
   word-spacing: 2px;
   
}
#werty li{margin:  20px;;}

#fghdsa input{width: 85%; border: 1px solid  gray;}
#fghdsa button{background-color: rgb(9, 216, 196) ; margin-left: 10px;}
#erty {border: 2px solid orange;opacity: 100; margin: auto;}
nav{height: 70px;}
.card-title{margin-top: 50px;
font-size: 17px;
font-weight: 700;
color: rgb(255, 166, 0);}

.card a{ text-decoration: none;}
.card-title:hover{
    color: rgb(0, 0, 0);}
    
#fgghk{font-weight: 800;
font-size: 200%;}
#qwerar button:hover{background-color: black;}
#qwerar button{padding: 7px;
    color: rgb(255, 255, 255); 
    background-color: orange;
     border: 0cap; 
    border-radius: 4px;
    font-weight: 700;
}
.navbar-brand{display: flex;
}
.navbar-brand ul {margin-left: 350px;}
.card-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px; /* Adjust this value as needed */
    margin: 0 auto;
  }
  
  .card {
    width: calc(33.33% - 10px); /* Adjust spacing as needed */
    padding: 20px;
    border: 0;  
  }
  #ghjuik{background-color: white;
    border: 2px solid orange;
    border-radius: 4px;
    color: orange;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
}
#ghjuik:hover{background-color: black;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
}
.form-check{font-size: 75%;}
#hggfhfgh{color: grey;
    font-size: 90%;}
#hggfhfgh a{color: white;
    text-decoration: none;}
#hggfhfgh a:hover{color: orange;
    text-decoration: underline;}


.card-:hover{background-color: rgba(59, 56, 54, 0.227);border-radius: 5px;}
#qwasqwsa{text-decoration: none;}
#fghdftg a{text-decoration: none;color: orange;}
#fghdftg a:hover{color: rgb(0, 0, 0);}
#qwasqwsa img , #qwasqwsa h5{border-radius: 5px;
padding: 10px;}


footer div a{color: white;
text-decoration: none;
}
footer div{padding: 5px;}
footer div a:hover{color: orange;
text-decoration: underline;}

footer button{ border: 0px; border-radius: 50%; font-size: larger; margin: 5px;}
footer button:hover{scale: 1.25;}

#vhjvhjhvj{width: 60%;}

#gfhdgfw{
    position: absolute;
    width: 80%;
    margin-left: 50px;
    margin-top: 120px;
}
#gfhdgfw .card{
    background-color: rgba(40, 34, 34, 0.622);
    color: white;
}
#gfhdgfw h4{font-weight: 700;}
#gfhdgfw p{ font-size: 75%;}
#klhjklkj{
    width: 48%;
    padding: 7px;
    color: white;
    background-color: orange;
    font-weight: 700;
    border: 0px;
    border-radius: 5px;
}